p {
    color: purple;
    font-size: 40px;
}

h1 {
    color: turquoise;
    font-size: 40px;
}

img {
    border-radius: 30px;
    border-style: solid;
    border-color: black;
    cursor: pointer;
}

img:hover {
    width: 30%;
}